{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": "usage"
      }
    ],
    "react",
    "jest"
  ],
  "plugins": ["syntax-dynamic-import"],
  "env": {
    "test": {
      "presets": [
        "react"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
