@import "tachyons";

.theme-red {
  color: #FF355B;
  fill: #FF355B;
}

.theme-green {
  color: #B7E876;
  fill: #B7E876;
}

.theme-yellow {
  color: #FFC251;
  fill: #FFC251;
}

.theme-blue {
  color: #76D4FF;
  fill: #76D4FF;
}

.theme-gray {
  color: #C2C8D7;
  fill: #C2C8D7;
}

.bg-theme-red {
  background-color: #FF355B;
}

.bg-theme-green {
  background-color: #B7E876;
}

.bg-theme-yellow {
  background-color: #FFC251;
}

.bg-theme-blue {
  background-color: #76D4FF;
}

.bg-theme-gray {
  background-color: #C2C8D7;
}

.b--theme-red {
  border-color: #FF355B;
}

.b--theme-green {
  border-color: #B7E876;
}

.b--theme-yellow {
  border-color: #FFC251;
}

.b--theme-blue {
  border-color: #76D4FF;
}

.b--theme-gray {
  border-color: #C2C8D7;
}

.vh-85 {
  height: 85vh;
}
